

.footer{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    background-color: rgb(10, 17, 33);
    color: white;
}
.row1{
    display: flex;
    justify-content: space-evenly;
}
.col1 > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.col1 > ul > li {
    margin-bottom: 1rem;
}
.nav-link-footer{
    color: rgb(206, 206, 206);
    text-decoration: none;
}
.row3{
    font-size: 1.3rem;
}
.iconFooter{
    margin-right: 1.5rem;
}
.footer > p{
    padding-bottom: 3rem;
    margin-bottom: 0;
}