
.mainTrending{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin:  0 5rem;
}

.mainTrending > div{
    /* background-color: aquamarine; */
    /* width: 20%;  */
    /* min-width: 200px; */
    /* height: 25rem; */
    border: 1px solid var(--form-color);
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.1);
    /* margin: 1.8rem; */
    margin: 0.5rem 1rem;
    cursor: pointer;
    min-height: 53vh;
    /* flex: 0.2; */
}
.mainTrending > div:hover{
    /* margin-bottom: 1rem; */
    box-shadow: 3px 3px 15px rgb(0, 0, 0,0.7);
    border: 1px solid black;

}
.imageTrend{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0)),url('../../../../images/beautiful-manhattan-bridge-new-york-usa.jpg');
    background-size: cover;
    width: 100%;
    height: 60%;
}
.imageTrend > p{
    margin: 0;
    float: right;
    color:white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
.imageTrend > p:hover{
    color: red;
    /* background-color: red    ; */

}
.locationTrend{
    margin:0;
    margin-left: 20px;
    /* margin-top: 30px; */
    /* display: relative; */
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.locationTrend > p{
    /* margin-top: 82%; */
    position: relative;
    font-size: 1.3rem;
    margin-right:0.5rem ;
    font-family: 'My second font';
}
.infoTrend{
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    
}
.infoTrend > div{
    margin-top: 0.9rem;
}
.trendRate{
    display: flex;
    /* justify-content: space-evenly; */
}
.trendRate :first-child{
    /* flex: 0.5; */
    /* border: 2px solid black; */
    background-color: var(--main-color);
    border-radius: 1px;
    padding: 0 0.3rem ;
    margin-right: 0.5rem;
    color: white;
}
.infoTrend > div > span{
    font-weight: 700;

}
.starTrend {
    color: rgb(176, 209, 43);
}
.star{
    margin-left: 0.2rem;
}
.nameTrend{
    font-size: 1.1rem;
    font-family: 'My second font';
    font-weight: 600;
}


